<div class="jumbotron">
    <h1>OptiAqua</h1>
    <p class="lead">Aplicación para la optimización del regadio</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Consideraciones para la creación masica de uniades de cultivo.</h2>

        <div class="card">
            <h5 class="card-header">Fichero de importación</h5>
            <div class="card-body">
                <h5 class="card-title">Especificación del fichero Excel</h5>
                <p class="card-text">Es importante indicar un encabezado con los nombres de dos campos indicados.</p>
                <p class="card-text">Puede descargar plantilla como ejemplo.</p>
                <a href="~/Documentos/UC_importacion.xlsx" class="btn btn-info">Plantilla ejemplo</a>
                <h5 class="card-title mt-3">Duplicidad</h5>
                <p class="card-text">Si en el proceso de importación la unidad de cultivo ya existe para la temporada indicada los datos de importación sustituirán a los anteriores datos.</p>
            </div>
        </div>

        <div class="card">
            <h5 class="card-header">Descripción y orden de los campos</h5>
            <div class="card-body">

                <h5 class="card-title">Linea</h5>
                <p class="card-text">Número de línea, es útil para la depuración de errores</p>

                <h5 class="card-title">IdUnidadCultivo</h5>
                <p class="card-text">Es un campo alfanumérico clave para la unidad de cultivo</p>

                <h5 class="card-title">IdRegante</h5>
                <p class="card-text">Nº entero identificador del regante</p>

                <h5 class="card-title">Alias</h5>
                <p class="card-text">Nombre amigable de la unidad de cultivo</p>

                <h5 class="card-title">IdTemporada</h5>
                <p class="card-text">Es un campo alfanumérico indicando la temporada Optiaqua</p>

                <h5 class="card-title">IdParcelaIntList</h5>
                <p class="card-text">Lista separada por ',' con los números de las parcelas en la comunidad de regantes</p>

                <h5 class="card-title">IdCultivo</h5>
                <p class="card-text">El identificador del cultivo en Optiaqua</p>

                <h5 class="card-title">Fecha siembra</h5>
                <p class="card-text">Fechas siembra en forma dd/mm/aaaa</p>

                <h5 class="card-title">IdTipoRiego</h5>
                <p class="card-text">Códgigo Optiaqua del tipo de riego</p>

                <h5 class="card-title">Superficie de la unidad de cueltivo</h5>
                <p class="card-text">Si se indica valor 0 o no se indica se calcula como la suma de la superficies de las parcelas que contiene</p>

            </div>
        </div>
    </div>
</div>
