<div class="jumbotron">
    <div class="row">
        <h1>OptiAqua</h1>
        <p class="lead">Aplicación para la optimización del regadio</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Estaciones climáticas en la Rioja</h2>
        <p>Web en la que puede consultar los registro climáticos de las estaciones de La Rioja</p>
        <p><a class="btn btn-default" href="http://www.larioja.org/agricultura/es/informacion-agroclimatica/datos-estaciones">Leer Más &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>AIMCRA</h2>
        <p>Asociación de Investigación para la mejora del cultivo de la remolacha azucarera.</p>
        <p><a class="btn btn-default" href="http://www.aimcra.es">Leer más &raquo;</a></p>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-6">
        <h2>Descripción de la API</h2>
        <p>Descripción de las funciones API definidas</p>
        <p><a class="btn btn-default" href="~/swagger">Ver más &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Integración de datos</h2>
        <p>Proceso de carga masiva de datos</p>
        <ul>
            <li><a class="btn btn-default" href="@Url.Action("importacion", "importacion")">Importación unidades de cultivo</a> </li>                                    
            <li><a class="btn btn-default" href="@Url.Action("ImportacionMapas", "importacion")">Importación mapas</a></li>

        </ul>
    </div>
</div>
